.about {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.a_left {
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 40rem;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(39, 40, 144, 1) 37%, rgba(0, 0, 0, 1) 51%);
}

.logocont {
    text-align: center;
    width: 350px;
    height: 350px;
    outline: none;
    background: rgba(255, 255, 255, 0.15);
    margin: auto;
    padding-top: 1.5rem;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    flex: left;
}

.a_logo {
    font-size: 6rem;
    letter-spacing: 0;
    color: #0e3742;
    text-transform: uppercase;
    animation: animate 5s linear infinte;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    margin: 5rem auto;
}

@-webkit-keyframes glow {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #0e3742;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #1d13df, 0 0 50px #1e04b1, 0 0 60px #1d0f59, 0 0 70px #000000;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 100px #03bcf4,
    }
}

.a_right {
    width: 50%;
}

canvas {
    position: absolute;
    z-index: -1;
}

.a_text {
    margin-top: 13rem;
    margin-left: 3rem;
    padding-right: 0;
}

.a_text p {
    width: 75%;
}

/* .bottom{
margin-left: 3rem;
margin-bottom:0;
} */



/*    *****          events  css     *******/

.events {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(43, 39, 144);
    background: radial-gradient(circle, rgba(43, 39, 144, 1) 19%, rgba(0, 0, 0, 1) 44%, rgba(0, 0, 0, 1) 75%);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    object-fit:cover;
    background-size: 250px 250px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}


.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.head {
    background-color: black;
    text-align: center;
}

.head h2 {
    padding-top: 1rem;
    position: relative;
    font-size: 2.5rem;
    color: #222;
    display: inline;
}

.head h2::before {
    content: attr(data-text);
    position: absolute;
    color: rgb(255, 255, 255);
    width: 6.25rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #ffff;
    animation: animate 3s linear infinite;
}


@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

@media (max-width:768px) {
    .a_right {
        width: 100%;
    }

    .a_text p {
        width: 100%;
    }
}
