*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Quantico', sans-serif;
}

a{
    text-decoration: none;
}

body{
    overflow-x: none;
}

/* No Select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
/* No Select ends */

/* Scrollbar Css */
body::-webkit-scrollbar {
    width: 0.1rem;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
/* Scrollbar Css ends */

body{
    background: #121113;
    cursor: default;
}


/* Navbar */
nav{
    top: 0;
    position: sticky;
    z-index: 1000;
    background-color: #121113;
}

nav .navContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
}

nav .navContainer .logo img{
    width: 3rem;
}

nav .navContainer .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    cursor: pointer;
}

nav .navContainer .links .link{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

nav .navContainer .links .link a:hover{
    text-decoration: underline;
    transition: ease-in 2s;
}

nav .navContainer .menu{
    display: none;
}

input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}
  
.bar {
    position: absolute;
    cursor: pointer;
    right: 3rem;
    top: 20px;
    width: 50px;
    height: 40px;
    z-index: 10000;
}
  
.bar span {
    position: absolute;
    width: 40px;
    height: 5px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}
  
.bar span.top {
    top: 0;
  }
  
.bar span.middle {
    top: 13px;
}
  
.bar span.bottom {
    top: 26px;
}

input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 49px;
    left: 5px;
    box-shadow: 0 0 10px #a5b9cc;
}

input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    top: 34px;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #a5b9cc;
}
  
input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
}
/* Navbar ends */


/* Header starts */
header{
    padding: 0 20rem;
    padding-top: 2.5rem;
    position: relative;
    min-height: 100vh;
}

header .top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .top .tagline{
    position: relative;
    width: fit-content;
    z-index: 100;
    text-align: right;
    opacity: 1;
    padding-bottom: 2rem;
}

header .top .tagline .text{
    font-size: 4rem;
    line-height: 4rem;
    /* color: #eaeaea; */
}

header .top .ieee-logo img{
    width: 15rem;
}

header .aboutUsBtn button{
    position: absolute;
    bottom: 20%;
    right: 6%;
    outline: none;
    padding: 0.6rem 4rem;
    background-color: transparent;
    border: 3px solid #006EB6;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 1.2rem;
    color: #006EB6;
    font-weight: bold;
    cursor: pointer;
}

header .aboutUsBtn button:hover{
    transition: ease-in 0.2s;
    background-color: #006EB6;
    color: #121113;
}

video{
    object-fit: contain;
}

#myVideo{
    position: absolute;
    left: 0;
    bottom: -7%;
    width: 100% !important;
    min-height: 10vh;
    z-index: -10000;
    transform: translateY(7%);
}
/* Header ends */

@media only screen and (min-width: 1220px) {
    header .top .tagline{
        left: -10%;
    }
}

@media only screen and (max-width: 1220px) {
    #myVideo{
        bottom: 5%;
    }

    header .top .tagline{
        padding-right: 10rem;
    }
}
@media only screen and (max-width: 1000px) {
    #myVideo{
        bottom: 15%;
    }

    header .top .tagline{
        padding-right: 4rem;
    }
}
@media only screen and (max-width: 800px) {
    
    /* nav .navContainer .links{
        display: none;
    } */

    nav .navContainer .styles{
        position: absolute;
        background: #f1faee;
        margin: 0;
        padding: 0;
        flex-direction: column;
        top: 0vh;
        right: 0;
        padding: 12rem 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        /* transform: translateX(0%); */
        transition: all 0.3s;

    }

    nav .navContainer .none{
        visibility: hidden;
    }

    .bar .color-white{
        background-color: #f1faee;
    }
    
    .bar .color-black{
        background-color: #121113;
    }

    nav .navContainer .links .link{
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    nav .navContainer .links .link a{
        color: black;
    }
    
    #myVideo{
        bottom: 15%;
    }

    header .top .tagline{
        padding-right: 4rem;
    }

    nav .navContainer .menu{
        display: flex;
    }
}

@media only screen and (max-width: 660px) {

    header .top{
        flex-direction: column;
    } 

    header .top .tagline{
        padding-right: 0rem;
    }

    header{
        padding: 1.8rem 0;
    }

    header .top .tagline .text{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    header .top .ieee-logo img{
        width: 12rem;
        padding-bottom: 1rem;
    }

    #myVideo{
        bottom: 20%;
    }
    
    nav .navContainer{
        padding: 1rem 1rem;
    }

    .bar{
        top: 1.5rem;
        right: 1rem;
    }

}

@media only screen and (max-width: 500px) {
    #myVideo{
        bottom: 25%;
    }

    .bar{
        top: 1.8rem;
        right: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    header .aboutUsBtn button{
        padding: 0.6rem 3rem;
        font-size: 1rem;
    }
}