*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Quantico', sans-serif;
}

body{
    overflow-x: none;
}

/* No Select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
/* No Select ends */

/* Scrollbar Css */
body::-webkit-scrollbar {
    width: 0.1rem;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
/* Scrollbar Css ends */

body{
    background: #121113;
    cursor: default;
}


/* Navbar */
nav{
    top: 0;
    position: sticky;
    z-index: 1000;
    background-color: #121113;
}

nav .navContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
}

nav .navContainer .logo img{
    width: 3rem;
}

nav .navContainer .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    cursor: pointer;
}

nav .navContainer .links .link{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

nav .navContainer .menu{
    display: none;
}
/* Navbar ends */


/* Header starts */
header{
    padding: 0 20rem;
    padding-top: 2.5rem;
    position: relative;
    min-height: 100vh;
}

header .top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .top .tagline{
    position: relative;
    width: fit-content;
    z-index: 100;
    text-align: right;
    opacity: 1;
    padding-bottom: 2rem;
}

header .top .tagline .text{
    font-size: 4rem;
    line-height: 4rem;
    color: #eaeaea;
}

header .top .ieee-logo img{
    width: 15rem;
}

header .aboutUsBtn button{
    position: absolute;
    bottom: 20%;
    right: 6%;
    outline: none;
    padding: 0.6rem 4rem;
    background-color: transparent;
    border: 3px solid #006EB6;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 1.2rem;
    color: #006EB6;
    font-weight: bold;
    cursor: pointer;
}

video{
    object-fit: contain;
}

#myVideo{
    position: absolute;
    left: 0;
    bottom: -7%;
    width: 100% !important;
    min-height: 10vh;
    z-index: -10000;
    transform: translateY(7%);
}
/* Header ends */

@media only screen and (max-width: 1220px) {
    #myVideo{
        bottom: 5%;
    }

    header .top .tagline{
        padding-right: 10rem;
    }
}
@media only screen and (max-width: 1000px) {
    #myVideo{
        bottom: 10%;
    }

    header .top .tagline{
        padding-right: 4rem;
    }
}
@media only screen and (max-width: 800px) {
    
    nav .navContainer .links{
        display: none;
    }   
    
    #myVideo{
        bottom: 15%;
    }

    header .top .tagline{
        padding-right: 4rem;
    }
}

@media only screen and (max-width: 660px) {
    header .top{
        flex-direction: column;
    } 

    header .top .tagline{
        padding-right: 0rem;
    }

    header{
        padding: 2rem 0;
    }

    header .top .tagline .text{
        font-size: 3rem;
        line-height: 3rem;
    }

    header .top .ieee-logo img{
        width: 12rem;
    }

    #myVideo{
        bottom: 20%;
        /* transform: translateY(5%); */
    }
    
    nav .navContainer{
        padding: 1rem 1rem;
    }

}

@media only screen and (max-width: 500px) {
    #myVideo{
        bottom: 25%;
    }
}

@media only screen and (max-width: 400px) {
    header .aboutUsBtn button{
        padding: 0.6rem 3rem;
        font-size: 1rem;
    }
}