<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honeycomb Grid Layout In Pure CSS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="footer.js" defer></script>
    <script src="https://kit.fontawesome.com/58c2281209.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/mtt.css">
    <link rel="stylesheet" href="../style/footer.css">
</head>

<body>
    <section>
        <ul class="honeycomb">
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Yuvraj.jpg">
                <div class="honeycomb-cell_title">Chairperson<small>Yuvraj</small></div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Parth.jpg">
                <div class="honeycomb-cell_title">Vice-Chaiperson<small>Parth</small></div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Ananya.jpg">
                <div class="honeycomb-cell_title">Trasurer<small>Ananya Garg</small></div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Avni Arora.jpg">
                <div class="honeycomb-cell_title">CSE Tech Head<small>Avni Arora</small></div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Rythm.jpg">
                <div class="honeycomb-cell_title">Strategic Head<small>Rhythm Shandlya</small></div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Bhavey.png">
                <div class="honeycomb-cell_title">Digital Head<small>Bhavey Mittal</small></div>
            </li>
            <li class="honeycomb-cell ">
                <img class="honeycomb-cell_img" src="Team Members/rahul.jpg">
                <div class="honeycomb-cell_title">Management Head<small>Rahul Raina</small></div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Bhavey.png">
                <div class="honeycomb-cell_title">Cinematic<small>4D</small></div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Bhavey.png">
                <div class="honeycomb-cell_title">Cinematic<small>4D</small></div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="Team Members/Bhavey.png">
                <div class="honeycomb-cell_title">Cinematic<small>4D</small></div>
            </li>
            <li class="honeycomb-cell honeycomb_Hidden">
            </li>
        </ul>
    </section>
    <footer class="footer">
        <svg version="1.1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1800 1000"
            preserveAspectRatio="xMidYMax slice">
            <defs>
                <linearGradient id="bg">
                    <stop offset="20%" style="stop-color:rgba(142, 216, 248, 0.06)"></stop>
                    <stop offset="50%" style="stop-color:rgba(39, 107, 126, 0.6)"></stop>
                    <stop offset="100%" style="stop-color:rgba(27, 15, 104, 0.2)"></stop>
                </linearGradient>
                <path id="wave" fill="url(#bg)"
                    d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
        s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
            </defs>
            <g>
                <use xlink:href='#wave' opacity=".5">
                    <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="10s"
                        calcMode="spline" values="270 230; -334 180; 270 230" keyTimes="0; .5; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                </use>
                <use xlink:href='#wave' opacity=".6">
                    <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="8s"
                        calcMode="spline" values="-270 230;243 220;-270 230" keyTimes="0; .6; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                </use>
                <use xlink:href='#wave' opacty=".9">
                    <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="6s"
                        calcMode="spline" values="0 230;-140 200;0 230" keyTimes="0; .4; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                </use>
            </g>
        </svg>
        <div class="footerContainer">
            <div class="left">
                <img src="https://xenith22.live/static/img/ieee-white.png" alt="logo" />
            </div>
            <div class="center">
                <div class="test">
                    <h3>Contact Us</h3>
                    <div class="contact-details">
                        <p class="phone-icons1"><i class="fa-solid fa-phone"></i></p>
                        <div class="conc-details">Yuvraj Chaudhary &nbsp;:&nbsp; +91 77788-88999</div>
                    </div>
                    <div class="contact-details">
                        <p class="phone-icons2"><i class="fa-solid fa-phone"></i></p>
                        <div class="Contact-Parth">Parth Punia &nbsp;:&nbsp; +91 77788-88999</div>
                    </div>
                    <div class="contact-details">
                        <p class="phone-icons3"><i class="fa-solid fa-at"></i></p>
                        <div class="Email-detail">Email &nbsp;:&nbsp; ieeesbjiitweb@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <h3 class="Connect">Connect with us</h3>
                <div class="icons">
                    <img src="https://ieeesbjiit.github.io/img/clients/insta.png" alt="" />
                    <img src="https://ieeesbjiit.github.io/img/clients/fb.png" alt="" />
                    <img src="https://ieeesbjiit.github.io/img/clients/github.png" alt="" />
                    <img src="https://ieeesbjiit.github.io/img/clients/linkedin.png" alt="" />
                    <img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="" />
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
